@import 'colors';

:host {
  background-color: $purple;
  
  .links-content {
    width: 100%;
    display: grid;
    list-style: none;
    padding: 0;
    gap: 1em;
  }
  
  .links-content > li > * {
    width: 100%;
  }

}
